# http://www.gnu.org/software/automake

Makefile.in
stamp-h1
config.*

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/.deps

# Object files
*.o

# Libraries
*.lib
*.a

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app

# conmon specific
conmon
*.c~
aclocal.m4
configure.in

# conmon specific
.DS_Store
logs/*.txt
node/
*.pdf
rtp/*.txt

plots/conmon-skitch.txt
logs/*/*.txt

