# http://www.gnu.org/software/automake

Makefile.in
stamp-h1
config.*

# http://www.gnu.org/software/autoconf

/autom4te.cache
/aclocal.m4
/compile
/configure
/depcomp
/install-sh
/missing
/.deps

# conmon specific
conmon.o
conmon
.DS_Store
conmon.c~
autogen.sh
aclocal.m4
configure.in
logs/
node/
*.pdf
rtp/*.txt
